/* ==========================
   FADE IN
========================== */

@keyframes fadeIn {

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}

.fade-in{

animation:fadeIn 1s ease;

}

/* ==========================
   ZOOM
========================== */

@keyframes zoomIn{

from{

transform:scale(.8);
opacity:0;

}

to{

transform:scale(1);
opacity:1;

}

}

.zoom{

animation:zoomIn .8s;

}

/* ==========================
   FLOAT
========================== */

@keyframes floating{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-8px);

}

100%{

transform:translateY(0);

}

}

.float{

animation:floating 3s infinite;

}

/* ==========================
   BUTTON
========================== */

.btn:hover{

animation:pulse .5s;

}

@keyframes pulse{

50%{

transform:scale(1.05);

}

}